@font-face {  
  font-family: 'titillium';
  src: url( ../fonts/titilliumweb-regular-webfont.ttf ) format("truetype"); 
 
}
body 
{
	font-family: arial;
	color: #000000;
	background-color: #FFFFFF; 
	margin: 0;
	padding: 0;
}
#loading
{
	font-family: titillium;
	margin: 8px;
	font-size: 17px; 
	white-space: nowrap;
}
#url
{	
	font-family: titillium;
	margin: 8px 8px 0px 8px;
	font-size: 18px; 
	white-space: nowrap;
	text-align: center;
	font-weight: 500;
	color: #26A7DF;
}
#history
{	
	margin: 0px 8px 0px 8px;
	font-size: 10px;
	white-space: nowrap;
	text-align: right;
	font-weight:bold;	

}
#response
{
	height: 50px;
}
.title
{
	font-size: 10px;
	background-color: #E5ECF9; 
	font-weight: bold;
	margin-bottom: 3px;
	height: 1em;
	padding: 0.3em 0 0.5em 3px;
}
.margin-top
{
	margin-top: 8px;
}
.item
{
	font-size: 14px; 
	white-space: nowrap;
	height: 0.5em;
	margin: 0px 8px 0px 8px;
}
img
{
	vertical-align: text-top;
}
a:link , a:visited
{
	color: #000;
	text-decoration: none;
}      
a:hover, a:active 
{
	color: #006C84;
	text-decoration: underline;
}